

html{
  font-family: "Bitcount Grid Single", system-ui;
  background-color: #090c0b;
  font-size: 12px;
}
body {
  width:600px;
  color:#f3f7f6;
  margin:0 auto;
  background-color: #64907d;
  padding:0 20px 20px 20px;
  border:5px solid #3a4755;
}

li{
    margin-bottom: 5px;
    margin-right:200px;
}

h1{
  margin:0;
  padding:20px 0;
  text-shadow: 3px 3px 1px black;
  font-size:60px;
  text-align:center;
}

p, li{
  font-size:16px;
  line-height:2;
  letter-spacing:1px;

}


img{
  display: block;
  margin:0 auto;
  max-width: 100%;
}

table{
  
  width:100%;
  max-width:600px;
  margin:20px auto;
  border-collapse:collapse;
}
th{
  background-color:#3a4755;
  font-weight:bold;
  padding:12px;
  border:1px solid black;
}
td{
  padding:12px;
  border:1px solid black;
}

tr:nth-child(even){
  background-color:#4f5972;

}

tr:hover{
  background-color:red;
}